/*------------------------Scroll bar--------------------------*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
    background: #ffb400;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a:hover{     /*change mouse fourcus color to yellow in menu*/
    color: #ffb400;
    font-weight: bold;

}


/*.btn {*/
/*    width: 6.5em;*/
/*    height: 2.3em;*/
/*    margin: 0.5em;*/
/*    background: black;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 0.625em;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    overflow: hidden;*/
/*}*/

/*button:hover {*/
/*    color: black;*/
/*}*/

/*button:after {*/
/*    content: "";*/
/*    background: #ffb400;*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    left: -20%;*/
/*    right: -20%;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    transform: skewX(-45deg) scale(0, 1);*/
/*    transition: all 0.5s;*/
/*}*/

/*button:hover:after {*/
/*    transform: skewX(-45deg) scale(1, 1);*/
/*    -webkit-transition: all 0.5s;*/
/*    transition: all 0.5s;*/
/*}*/

/*------------------------portfolio--------------------------*/


.imgs{
    transition: .35s;
    cursor: pointer;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);

}

.hoverImg:hover>:not(:hover){
    opacity: .4;
    transform: scale(0.9);
}

/*------------------------Skills img--------------------------*/


main>section:nth-child(5)>aside:nth-child(3)>div>img:hover {
    transform: scale(1.5);
}

/*------------------------project --------------------------*/

main>section:nth-child(6)>div:nth-child(2)>aside>div{
    width: 85%;
    height: 80%;
    top:100%;
    right: 3%;
    position: absolute;
    background: linear-gradient(#1f3d4738, black);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    transition: 1.5s;
}

main>section:nth-child(6)>div:nth-child(2)>aside:hover div{
    top: 0;
}

main>section:nth-child(6)>div:nth-child(2)>aside>div>h2{
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-family: teko;


}

main>section:nth-child(6)>div:nth-child(2)>aside>div>p{
    font-family: Abel;
}

/*------------------------Assgment --------------------------*/


main > section:nth-child(8) > div:nth-child(2)::-webkit-scrollbar {
    height: 5px;

}

main > section:nth-child(8) > div:nth-child(2)::-webkit-scrollbar-track {
}

main > section:nth-child(8) > div:nth-child(2)::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: solid black 1px;

}

main > section:nth-child(8) > div:nth-child(2)::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/*------------------------serves --------------------------*/

main>section:nth-child(7)>div:nth-child(4)>aside:hover {
    transition: 2s;
}
main>section:nth-child(7)>div:nth-child(4)>aside:hover {
    box-shadow: 10px 10px 10px 1px rgba(238, 190, 23, 0.4);
    transition: 2s;
}

main>section:nth-child(7)>div:nth-child(4)>aside:hover>:not(:hover) {
    transition: 2s;
    transform: scale(.9);

}


/*------------------------serves --------------------------*/


main>section:nth-child(8)>div:nth-child(2)>aside {
    transition: 2s;
}

main>section:nth-child(8)>div:nth-child(2)>aside:hover {
    box-shadow: 10px 10px 10px 1px rgba(238, 190, 23, 0.4);
    transition: 2s;
}

main>section:nth-child(8)>div:nth-child(2)>aside:hover>:not(:hover) {
    transition: 2s;
    transform: scale(.9);

}