/*------------------------Scroll bar--------------------------*/

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ffb400;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*------------------------hedder--------------------------*/

body{
    height:  100vh;
    width: 99vw;

}
body>section{
    height:  100vh;
    width: 99vw;
    background: #131312;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;

}

body>section:nth-child(2){
    position: absolute;
    width: 350px;
    height: 250px;
    left: 60vw;
    top: -4px;
    border-radius: 100%;
    background: #1746EC;
    filter: blur(350px);
}

header{
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;


}
header>nav{
    /*background: #131312;*/
    /*border-top-right-radius: 20px;*/
    /*border-top-left-radius: 20px;*/
    /*position: relative;*/
    /*margin-right: 10px;*/
    /*margin-left: 8px;*/
    /*height: 93%;*/
    /*width: 99%;*/
    /*top: 8%;*/
}

header>nav>aside>img{
    position: relative;
    top: 18px;
    left: 30px;

}

header>nav{
    height: 10vh;
}

header>nav>li{
    display: inline-block;
    position: relative;
    left: 40%;
    bottom: 40%;
    margin: 20px;
}


a{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: none;

}
/*------------------------Main Home Page--------------------------*/


main{
    height:  100vh;
    width: 99vw;
}


main>section:first-child{
  position: absolute;
    top: 150px;
    left: 80px;
}


main>section:first-child>h2{
  font-family: "Robo";
}

main>section:first-child>h1{
    font-family: "Yu Gothic UI";
    font-weight: bold;
    font-size: 40px;
    margin:auto;
}
main>section:first-child>img{
    position: absolute;
    left: 50vw;
    bottom: 8vh;
}

main>section>article{
    font-family: "Agency FB";
}


main>section>nav{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 4rem;
    margin: 3rem 1.5rem 3rem 0;
}


main>section>nav>div{
    margin-right: 1rem;
}
a:hover{     /*change mouse fourcus color to yellow in menu*/
    color: #ffb400;
}

li::marker{     /*remove indexing in menu*/
    content: "";
}

body{
    background-color: #2b2d33;   /*  bodey clor to black*/
}
*{
    color:white;  /* all texts been white */
}

h2{       /*  heades colors to yellow*/
    color: #ffb400;
}

input{
    border-radius: 10px;  /*key bord input radius*/
    border-color: white;
    background-color: #2b2d33;
}

button:hover{    /*butten hover action*/
    color: white;
    background-color: #ffb400;
    border-radius: 50px;
}

textarea{
    background-color: #2b2d33; /* input text area dtyles */
    border-radius: 10px;
    border-color: white;

}