


/*------------------------hedder--------------------------*/

html{
    scroll-behavior: smooth;
}


body{
    height:  100vh;
    width: 99vw;

}

body>section:nth-child(1){
    height:  100vh;
    width: 99vw;
    background: #131312;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
    overflow: hidden;

}

body>section:nth-child(2){
    position: absolute;
    width: 350px;
    height: 400px;
    left: 70vw;
    top: -4px;
    border-radius: 100%;
    background: #1746EC;
    filter: blur(300px);
}

header{
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
}


header:hover{
    background: black;
}

header>nav>aside>img{    /*tuna*/
    position: relative;
    top: 25px;
    left: 30px;

}

header>nav{

    width: 90%;
    position: relative;
}

header>nav>li{             /*menu*/
    display: inline-block;
    position: relative;
    left: 55%;
    bottom: 15px;
    margin: 20px;
    transition: all 0.1s ease-in;

}

a{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
    text-decoration: none;

}
/*------------------------Main Home Page--------------------------*/


main{

}


main>section:first-child{
  position: absolute;
    top: 150px;
    left: 80px;

}


main>section:first-child>h2{        /*hellow i am*/
  font-family: "Robo";
    font-size: 2.5rem;
    position: relative;
    top: 11vh;
}

main>section:first-child>h1{          /*dasun*/
    font-family: "Fjalla One";
    font-weight: bold;
    font-size: 60px;
    margin:auto;
    position: relative;
    top: 10vh;


}
main>section:first-child>img{  /*main png*/
    position: relative;
    left: 50vw;
    bottom: 20vh;

}



main>section>article{
    font-family: "Agency FB";
    font-size: 25px;
    position: relative;
    bottom: 35vh;
}


main>section:nth-child(1)>nav{           /*soceal meadia*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 10rem;
    margin: -1rem 1rem 4rem 0;
    position: relative;
    bottom: 35vh;
    left: 1.5vw;


}

main>section>nav>img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    rgba(255, 255, 255, 0.2);
}


main>section>nav>div{
    margin-right: 0.5rem;
}



/*------------------------About me page--------------------------*/



main>section:nth-child(2)>aside>h2{     /*about me*/
    position: absolute;
    left: 20.5%;
    font-size: 250%;
    bottom: -25%;
    font-family: "Merriweather Sans";

}

main>section:nth-child(2)>aside>img{  /*about me img*/
    position: relative;
    left: 20vw;
    top: 25vh;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 15px;

}

main>section:nth-child(2)>div{
    position: relative;
    width: 120px;
    height: 150px;
    left: 25vw;
    top: -60vh;
    border-radius: 100%;
    background: #ffb400;
    z-index: -1;
    filter: blur(200px);

}


main>section:nth-child(2)>aside:nth-child(2){
    position: relative;
    display: inline-block;
    left: 670px;
    top: -25vh;

}

main>section:nth-child(2)>aside:nth-child(2)>p:first-child{
    font-size:250%;
    font-weight: bold;
}

main>section:nth-child(2)>aside:nth-child(2)>p:last-child{
    font-family: "Agency FB";
    font-size: 150%;
}

                /*---------------------------aducation-------------------------------------*/


main>section:nth-child(3){
    position: relative;
    width: 99vw;
    height: 100vh;
}


main>section:nth-child(3)>h2{
    font-size: 250%;
    font-family: "Merriweather Sans";
    position: absolute;
    top: 0;
    left: 45vw;

    }

#yellowlineOne{
    position: relative;
    left: 23vw;
    top: 25vh;
}

#yellowlineTow{
    position: relative;
    top: 25vh;
    left: 57vw;
}


main>section:nth-child(3)>aside:nth-child(4){
    position: relative;
    left: 27vw;
    bottom: 6vh;
    display: inline-block;
    font-family: "Barlow";
    font-size: 20px;
}

main>section:nth-child(3)>aside:nth-child(5){
    position: relative;
    left: 9vw;
    top: 24vh;
    display: inline-block;
    font-family: "Barlow";
    font-size: 20px;

}

main>section:nth-child(3)>aside:nth-child(6) {
    position: relative;
    display: inline-block;
    top: -6vh;
    left: 33vw;
    font-family: "Barlow";
    font-size: 20px;
}

main>section:nth-child(3)>aside:nth-child(7){
    position: relative;
    display: inline-block;
    top: 24vh;
    left: 23vw;
    font-family: "Barlow";
    font-size: 20px;

}


/*---------------------------portfolo-------------------------------------*/

main>section:nth-child(4){
    position: relative;
}

main>section:nth-child(4)>h2{
    font-size: 250%;
    font-family: "Merriweather Sans";
    position: absolute;
    top: 0;
    left: 45vw;
}

main>section:nth-child(4)>div:nth-child(2){
    position: relative;
    left: 17vw;
    top: 15vh;
    display: inline-block;

}


main>section:nth-child(4)>div>img{
    margin-right: 15px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);
}

#img1{
    position: relative;
    top: 20.5vh;
    border-radius: 20px;
}

#img2{
    position: relative;
    top: 20.5vh;
    border-radius: 20px;
}

main>section:nth-child(4)>div:nth-child(3){
    display: inline-block;
    position: relative;
    left: 17vw;
    top: 17vh;

}

main>section:nth-child(4)>div:nth-child(3)>img{
    margin-right: 15px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}

/*---------------------------Skills-------------------------------------*/


main>section:nth-child(5){

    height: 150vh;
}

main>section:nth-child(5)>h2:nth-child(1){ /*skills*/
    font-family: "Merriweather Sans";
    position: relative;
    top: 220px;
    left: 50%;
    display: inline-block;
    font-size: 250%;
}

main>section:nth-child(5)>aside:nth-child(2)>h1{ /*Development skills*/
    position: relative;
    top: 280px;
    left: 260px;
    display: inline-block;
}

main>section:nth-child(5)>aside:nth-child(2)>h1:nth-child(1){
    font-size: 16px;
    top: 295px;


}

main>section:nth-child(5)>aside:nth-child(3){   /*container*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 30%;
    position: relative;
    height: 170px;



}

main>section:nth-child(5)>aside:nth-child(3)>div{ /*item*/

    row-gap: 2px;
    column-gap: 2px;
    position: relative;
    left: 220px;
    top: 300px;
    height: 180px;

}

main>section:nth-child(5)>aside:nth-child(3)>div>img {
    position: relative;
    left: 25%;
    border-radius: 20px;
    border: solid  0.001cm;
    border-left-color: #131312;
    border-right-color: #ffb400;
    border-bottom-color: #ffb400;
    border-top-color: #131312;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    rgba(0, 0, 0, 0.19);

}

main>section:nth-child(5)>aside:nth-child(3)>div>h6 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
    font-family: "Abel";
    font-size: 20px;
}

/*---------------------------projects-------------------------------------*/

main>section:nth-child(6){
    position: relative;
}

main>section:nth-child(6)>h2:nth-child(1){
    font-size: 250%;
    font-family: "Merriweather Sans";
    display: inline-block;
    position: relative;
    left: 45%;
}

main>section:nth-child(6)>div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  1fr;
    width: 65%;
    position: relative;
    left: 19%;
    top: 10vh;

}

main>section:nth-child(6)>div:nth-child(2)>aside{
    height: 320px;
    position: relative;
    overflow: hidden;
}

main>section:nth-child(6)>div:nth-child(2)>aside>h6 {
    position: relative;
    left: 4%;
    bottom: 31%;
    color: #ffb400;
}

main>section:nth-child(6)>div:nth-child(2)>aside>h3 {
    position: relative;
    left: 4%;
    bottom: 35%;
}

.projects{
    box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

/*---------------------------services-------------------------------------*/

main>section:nth-child(7){
    position: relative;
    height: 120vh;
}

main>section:nth-child(7)>h2:nth-child(2){
    position: relative;
    display: flex;
    justify-content: center;
    top: 10%;
    font-size: 250%;
    font-family: "Merriweather Sans";
}

main>section:nth-child(7)>h1:nth-child(3){
    position: relative;
    left: 18%;
    top: 18%;
    display: inline-block;
}

main>section:nth-child(7)>div:nth-child(4){
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: center;
    top: 22%;
}

main>section:nth-child(7)>div:nth-child(4)>aside{
    border-radius: 15px ;
    border: 1px solid white;
    height: 56vh;
    width: 20vw;
    position: relative;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);

}

main>section:nth-child(7)>div:nth-child(4)>aside>img{
    position: relative;
    display: inline-block;
    left: 40%;
    top: 15%;
}

main>section:nth-child(7)>div:nth-child(4)>aside>h4{
    position: relative;
    display: flex;
    justify-content: center;
    top: 18%;

}

main>section:nth-child(7)>div:nth-child(4)>aside>p{
    position: relative;
    display: flex;
    justify-content: center;
    top: 25%;
    font-family: Abel;
    font-size: 18px;

}

main>section:nth-child(7)>div:nth-child(1){
    position: relative;
    width: 150px;
    height: 150px;
    left: 10vw;
    top: 63vh;
    border-radius: 100%;
    background: #ffb400;
    z-index: -1;
    filter: blur(200px);
}


/*---------------------------Assigment-------------------------------------*/



main>section:nth-child(8){
    height: 110vh;
}

main>section:nth-child(8)>div:nth-child(2){
    display: flex;
    justify-content: center;
    gap: 0px;
    position: relative;
    top: 40vh;
    width: 1000px;
    margin: auto;
    overflow: hidden;
    overflow-x:scroll;
    scroll-padding: 24px;
    justify-content: start;


}

main>section:nth-child(8)>div:nth-child(2)>aside{
    border-radius: 15px ;
    border: 1px solid white;
    height: 56vh;
    width: 20vw;
    position: relative;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    margin: 12px;


}

main>section:nth-child(8)>h2:nth-child(1){
    position: relative;
    display: flex;
    top: 20vh;
    justify-content: center;
    font-size: 250%;
    font-family: "Merriweather Sans";
}





li::marker{     /*remove indexing in menu*/
    content: "";
}

body{
    background-color: #212428;   /*  bodey clor to black*/
}
*{
    color:white;  /* all texts been white */
}

h2{       /*  heades colors to yellow*/
    color: #ffb400;
}

input{
    border-radius: 10px;  /*key bord input radius*/
    border-color: white;
    background-color: #2b2d33;
}

button:hover{    /*butten hover action*/
    color: white;
    background-color: #ffb400;
    border-radius: 50px;
}

textarea{
    background-color: #2b2d33; /* input text area dtyles */
    border-radius: 10px;
    border-color: white;


}