@media screen and (max-width: 375px) {

    main>section:first-child>img {

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 40vh;
        width: 300px;
    }

    header > nav > li {
        display: none;
    }

    h3{
      color: #1746EC;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px){}
@media screen and (min-width: 425px) and (max-width: 768px){}
@media screen and (min-width: 768px) and (max-width: 1024px){}
@media screen and (min-width: 1024px) and (max-width: 1440px){}

/* screen pix 1520px*/