@media screen and (max-width: 320px) {

    /*---------------------------hedder-------------------------------------*/


    header {
        height: 2%;
    }

    header > nav > aside > img { /*tuna*/
        top: 9px;
    }


    main>section:nth-child(12)>form>textarea {
        width: 98%;
    }


    main>section:nth-child(12)>form {
        grid-template-columns: revert;
        width: 83vw;

    }
    #btnSubmit {
        width: 267px;
    }

    #btnCv {
        position: relative;
        width: 264px;
    }

}
/*---------------------------------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 375px){
}
@media screen and (min-width: 375px) and (max-width: 425px){}







/*-----------------------------------------------------------------------------*/
@media screen and (max-width: 426px) {



    /*--------------------------------------header---------------------------------------*/


    header > nav > li {
        display: none;
    }

    /*------------------------------ aduction ----------------------------------*/


    main>section:nth-child(3)>h2 {

        left: 30vw;
    }



    /*------------------------------ skills ----------------------------------*/


    main>section:nth-child(5)>aside:nth-child(2)>h1 {
        display: none;
    }


    /*--------------------------------------portfolio---------------------------------------*/

    main>section:nth-child(4) {
        top: 92vh;
        height: 399vh;
    }


    main>section:nth-child(4)>h2 {
        left: 33vw;
        top: -53vh;
    }


    main>section:nth-child(4)>div:nth-child(2) {
        top: 30vh;
        height: 60vh;
        flex-direction: column-reverse;
        align-items: center;
    }

    main>section:nth-child(4)>div:nth-child(3) {
        top: 149vh;
        height: 60vh;
        flex-direction: column;
        align-items: center;
    }

    .imgs {
        min-width: 250px;
        min-height: 400px;
    }

    #imgPos {
        bottom: revert;
    }
    /*--------------------------------------myproject---------------------------------------*/


    main>section:nth-child(6)>h2:nth-child(1) {
        left: 24vw;
    }


    main>section:nth-child(6)>div:nth-child(2) {

        grid-template-columns: revert;
    }

    /*--------------------------------------animation---------------------------------------*/


    main>section:nth-child(10)>div:nth-child(1) {
        width: 63vw;
    }

    main>section:nth-child(10)>div:nth-child(1)>h1 {
        font-size: 30px;
    }


    /*--------------------------------------contact me---------------------------------------*/

    main>section:nth-child(11){
        top: -365px;
    }


    /*--------------------------------------form---------------------------------------*/


    main>section:nth-child(12)>form {
        justify-content: center;
        top: 280px;
        right: 0;
        margin: auto;
        left:8px;

    }

    #btnCv {
        top: 43vh;
        left: 15.5vw;

    }

    #btnSubmit {
        bottom: -43.1vh;
        left: 12.100000000000001vw;

    }


}


/*---------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {


    /*------------------------------ main form ----------------------------------*/




    main>section:first-child>div{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 30vh;
    }

    main>section:first-child>div:nth-child(1) {
        /*left: 31vw;*/
        width: 200px;
        height: 200px;
        top: -9vh;
        display: flex;
        right: 0;
        left: 0;
        margin: auto;
    }





    main>section:nth-child(2)>aside:nth-child(2)>p:first-child {
        display: none;
    }


    /*------------------------------ skills ----------------------------------*/

    main>section:nth-child(5)>aside:nth-child(3)>div>img {
        margin: 10px;
    }

    main>section:nth-child(5)>aside:nth-child(3) {
        left: -33vw;
        right: 0;
        margin: auto;
    }

    main>section:nth-child(5)>aside:nth-child(3)>div {
        left: 0;
    }

    main>section:nth-child(5)>h2:nth-child(1) {
        left: 40%;
    }


    /*------------------------------ contact me ----------------------------------*/


    main>section:nth-child(11)>aside:nth-child(2)>div>img {
        left: 5vw;
    }

    main>section:nth-child(11)>aside:nth-child(2)>div>aside {
        left: 7vw;
    }


}








/*---------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {



    header>nav>li {
        left: 30vw;
        font-size: 12px;
        margin: 15px;
    }



    /*------------------------------about---------------------------------*/

    main>section:nth-child(2){
        position: relative;
        height: 140vh;
    }

    main>section:nth-child(2)>aside>h2 {
        position: absolute;
        left: 20.5%;
        bottom: 65%;
        font-size: 350%;
        font-family: teko;
        display: inline-block;
    }

    main>section:nth-child(2)>aside:nth-child(2) {
        left: 0;
        right: 0;
        top: 111px;
        margin: auto;
        display: flex;
        width: 90vw;
    }

    main>section:nth-child(2)>aside:nth-child(2)>p:last-child {
        position: relative;
        font-size: 120%;
        left: 2vw;
        top: 42vh;
    }

    main>section:nth-child(2)>aside>img {
        display: flex;
        left: 0;
        right: 0;
        margin: auto;
        top: 47vh;
    }

    main>section:nth-child(2)>aside:nth-child(2)>p:first-child {
        display:none ;
    }


    /*------------------------------skills----------------------------------*/


    main>section:nth-child(5) {
        height: 166vh;
    }
    main>section:nth-child(5)>aside:nth-child(4) {
        display: none;
    }


    /*------------------------------servease----------------------------------*/



    main>section:nth-child(7) {
        height: 285vh;
    }

    main>section:nth-child(7)>div:nth-child(4) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /*---------------------------pane on animation-------------------------------------*/

    main>section:nth-child(10){
        bottom: 70vh;
    }



    /*------------------------------contact me----------------------------------*/


    main>section:nth-child(11)>aside:nth-child(2)>div>aside{
        font-size: 13px;
    }

    main>section:nth-child(11)>aside:nth-child(2)>div>img {
        height: 50px;
        width: 50px;
    }

}
