@tailwind base;
@tailwind components;
@tailwind utilities;



/*when scroll web change 'DASUN THAMASH' text x position*/

#scrollingText {
    position: relative; /* Allows movement */
    transition: transform 0.1s ease-out; /* Smooth transition */
}


/* when click arrow button navigate to hero section*/

#arrow-container {
    display: none; /* Initially hidden */
}

#contact-arrow {
    font-size: 2rem; /* Adjust icon size */
    transition: transform 0.3s ease-in-out;
}



/* 3D animation*/


.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Push animation behind content */
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 10;
    padding: 50px;
    text-align: center;
}



