main{
    position: relative;
    top: 90px;
    height: 645px;
    background-color: black;
}
#item-page-section{
    position: relative;
    margin: auto;
    height: 100%;
    background-color: #e5e3e3;
}

.p-valid-format{
    visibility: hidden;
}

#input-fields-section{
    position: relative;
    margin: auto;
    top: 10px;
}

#btn-section{
    position: relative;
    margin: auto;
    height: 40px;
    width: 50%;
    top: 0px;
    /*border: 1px solid firebrick;*/
}

.btn-div{
    position: relative;
    /*border: 1px solid red;*/
    height: 40px;
}

label{
    z-index: 2;
    font-family: 'Poppins', sans-serif;
}

.m-btn{
    width: 100%;
    height: 105%;
    color: #ffffff;
    border: transparent;
    font-family: 'Poppins', sans-serif;
}

#form-section{
    height: 160px;
    background-color: #ffffff;
    position: relative;
    margin: auto;
    top: 20px;
}

#item-table-section{
    height: 445px;
    background-color: #ffffff;
    position: relative;
    margin: auto;
    top: 30px;
}

#add-btn{
    background-color: #37ba01;
}

#update-btn{
    background-color: #f6a504;
}

#delete-btn{
    background-color: #f54500;
}

.input-col{
    /*height: 40px;*/
}

#search-bar-section{
    position: relative;
    margin: auto;
    top: 20px;
    height: 50px;
    /*border: 1px solid red;*/
}

#tbl-section{
    position: relative;
    margin: auto;
    top: 30px;
    height: 300px;
    /*border: 1px solid red;*/
}

table{
    overflow: scroll;
    height: 100%;
}

.search-col{
    /*height: 20px;*/
    /*border: 1px solid red;*/
}

.search-col>button{
    width: 100%;
    height: 100%;
    background-color: #b30def;
    color: #ffffff;
    border:transparent;
    font-family: 'Poppins', sans-serif;
}

.search-col>input{
    /*height: 20px;*/
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}

.search-col>input::placeholder{
    font-family: 'Poppins', sans-serif;
}

th{
    font-family: 'Poppins', sans-serif;
}

td{
    font-family: 'Poppins', sans-serif;
}