main{
    position: relative;
    /*background-color: #1f0101;*/
    height: 645px;
    top: 90px;
}

#make-order-page-section{
    position: relative;
    height: 100%;
    background-color: #d9d9d9;
}

#order-invoice-section{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}

#table-section{
    position: relative;
    top: 10px;
    width: 100%;
    height: 335px;
    background-color: #ffffff;
}

#m-table{
    position: relative;
    top: 10px;
}

th,td{
    font-family: 'Poppins', sans-serif;
}

#order-detail-section{
    /*border: 1px solid red;*/
}

.detail-div{
    /*height: 50px;*/
    /*border: 1px solid black;*/
}

.inner-detail,.inner-detail-1{
    /*border: 1px solid maroon;*/
    height: 40px;
}

.input-col{
    margin-top: 10px;
}

#cus-row-2,#cus-row-3,#cus-row-1{
    margin-top: 10px;
}

#item-row-2,#item-row-3,#item-row-1{
    margin-top: 10px;
}

#payment-row-2,#payment-row-3,#payment-row-1{
    margin-top: 10px;
}

.inner-detail>p{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#inner-detail-1{
    background-color: #1fc102;
}
#inner-detail-2{
    background-color: #1fc102;
}
#inner-detail-3{
    background-color: #1fc102;
}

#purchase-btn{
    margin-top: 34px;
    height: 50%;
    width: 100%;
    border: none;
    background-color: #00c40a;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

#add-item-btn{
    margin-top: 34px;
    height: 50%;
    width: 100%;
    border: none;
    background-color: #9610ea;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

label{
    font-family: 'Poppins', sans-serif;
}
