#customer-page-content-section{
    position: relative;
    height: 660px;
    background-color: #eaeaea;
}

#customer-form-section{
    height: 280px;
    /*border: 1px solid red;*/
    background-color: white;
    position: relative;
    margin: auto;
    top: 10px;
}

#customer-table-section{
    background-color: white;
    height: 340px;
    /*border: 1px solid #60e004;*/
    position: relative;
    margin: auto;
    top:20px;
}

#customer-search-btn{
    width: 100%;
    height: 100%;
    background-color: #9610ea;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.customer-btn-div{
    /*border: 1px solid #170017;*/
}

label{
    font-family: 'Poppins', sans-serif;
}

input::placeholder{
    font-family: 'Poppins', sans-serif;
}

#inp-3-div,#inp-4-div,#inp-2-div,#inp-1-div{
    margin-top: 20px;
}

#customer-btn-section{
    /*border: 1px solid greenyellow;*/
    height: 50px;
    position: relative;
    top: 20px;
}

#customer-data-input-section{
    /*border: 1px solid firebrick;*/
}

#customer-search-bar-section{
    height: 60px;
    /*border: 1px solid blue;*/
    position: relative;
}

#search-bar-input-n-btn-section{
    position: relative;
    top: 10px;
    color: #ea0505;
}

#customer-table-inner-section{
    position: relative;
    top: -8px;
    height: 270px;
}

.cus-btn{
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#cus-add-btn{
    background-color: #13c600;
}
#cus-update-btn{
    background-color: #ab17ea;
}
#cus-delete-btn{
    background-color: #e20013;
}

.customer-input-col>p{
    position: absolute;
    font-size: 14px;
    color: red;
    visibility:hidden;
}