#item-page-content-section{
    position: relative;
    height: 660px;
    background-color: #eaeaea;
}

#item-form-section{
    height: 280px;
    /*border: 1px solid red;*/
    background-color: white;
    position: relative;
    margin: auto;
    top: 10px;
}

#item-table-section{
    background-color: white;
    height: 340px;
    /*border: 1px solid #60e004;*/
    position: relative;
    margin: auto;
    top:20px;
}

#item-search-btn{
    width: 100%;
    height: 100%;
    background-color: #9610ea;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.customer-btn-div{
    /*border: 1px solid #170017;*/
}

label{
    font-family: 'Poppins', sans-serif;
}

input::placeholder{
    font-family: 'Poppins', sans-serif;
}

#i-inp-3-div,#i-inp-4-div,#i-inp-2-div,#i-inp-1-div{
    margin-top: 20px;
}

#item-btn-section{
    /*border: 1px solid greenyellow;*/
    height: 50px;
    position: relative;
    top: 20px;
}

#customer-data-input-section{
    /*border: 1px solid firebrick;*/
}

#item-search-bar-section{
    height: 60px;
    /*border: 1px solid blue;*/
    position: relative;
}

#i-search-bar-input-n-btn-section{
    position: relative;
    top: 10px;
}

#item-table-inner-section{
    /*border: 1px solid black;*/
    position: relative;
    top: -8px;
    height: 270px;
}

.cus-btn{
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#itm-add-btn{
    background-color: #13c600;
}
#itm-update-btn{
    background-color: #ab17ea;
}
#itm-delete-btn{
    background-color: #e20013;
}